@model IEnumerable<Entidades.clsPersona>
 
@using CRUD.Models.ViewModels;

@{
    ViewData["Title"] = "Listado de Personas";
}

<h1>Listado de Personas</h1>
<h3 >@ViewBag.Info</h3>

<h2 class="text-danger">@ViewBag.Error</h2>


<a asp-action="Create">Crear nuevo</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tlf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tlf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDepartamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FNac)
                </td>
                <td>
                    <img src="@item.Foto" width="60" height="60" />
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
